<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>d250g2</title>
  <style type="text/css">
    html, body, img {
      margin: 0;
      padding :0;
    }
    html {
      background: url(3602195819_492a5b43b5_o.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    img{
      visibility: hidden;
      width: 0;
      height: 0;
    }
    p.heading {
      color: white;
      background: rgba(0,0,0,.6);
      padding: .4em;
      top: 0;
      position: absolute;
    }
    a {
      color: #bbf;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<img src="3602195819_492a5b43b5_o.jpg">
<p class='heading'>
  <a href="http://twitpic.com/d250g2">d250g2: 現在の僕の心境です on Twitpic</a> (<a href="https://web.archive.org/web/20140905000851/http://twitpic.com/d250g2">Internet Archive</a>)
  /
  Original Picture by <a href="http://www.flickr.com/photos/38449766@N03/3602195819/">Eggs&amp;Beer (CC-BY)</a>
</p>
</body>
</html>
